@model PAGINA_SUCURSAL_MEDICA.Models.historial_clinico

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>historial_clinico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.citas_anteriores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.citas_anteriores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medico_del_paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medico_del_paciente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
