@model PAGINA_SUCURSAL_MEDICA.Models.historial_clinico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>historial_clinico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.citas_anteriores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.citas_anteriores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medico_del_paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medico_del_paciente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numero_cita }) |
    @Html.ActionLink("Back to List", "Index")
</p>
