@model IEnumerable<PAGINA_SUCURSAL_MEDICA.Models.historial_clinico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.citas_anteriores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medico_del_paciente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.citas_anteriores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medico_del_paciente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.numero_cita }) |
            @Html.ActionLink("Details", "Details", new { id=item.numero_cita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.numero_cita })
        </td>
    </tr>
}

</table>
