@model IEnumerable<PAGINA_SUCURSAL_MEDICA.Models.administrador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nickname_adm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_adm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasenia_adm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_adm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_ip_adm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nickname_adm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_adm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasenia_adm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_adm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_ip_adm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_adm }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_adm }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_adm })
        </td>
    </tr>
}

</table>
