@model PAGINA_SUCURSAL_MEDICA.Models.creacion_usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>creacion_usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lugarDeResidencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lugarDeResidencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sedeDondeSePrestaraLaAtencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sedeDondeSePrestaraLaAtencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lugarDeNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lugarDeNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sedeDeAtencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sedeDeAtencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaExppCedu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaExppCedu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaDeNaciemiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaDeNaciemiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroDeContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroDeContacto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
